[submodule "external/DoCIF"]
	path = util/DoCIF
	url = https://github.com/jgkamat/DoCIF.git
[submodule "control/external/robocup-fshare"]
	path = control/external/robocup-fshare
	url = https://github.com/RoboJackets/robocup-fshare.git
[submodule "control/mtrain"]
	path = control/mtrain
	url = git@github.com:RoboJackets/mtrain-firmware.git
