*.kdev4

# scons build system
.sconsign.dblite
.scons_variables

# build directories
/build
*/build
/gmon.out
*.swp
/.settings
#/doc/generated-docs
#/docs
*~

# sublime-text
*.sublime-workspace
.vscode

# Python
__pycache__/
*.pyc
.pydevproject

# OS X Finder prefs
.DS_Store

# Qt Creator
*.creator.user

# IntelliJ
.idea

# output binaries
run/*.bin
run/*.nib
run/test-firmware
clean.patch

# GTags ignore
GPATH
GRTAGS
GTAGS
