[submodule "external/DoCIF"]
	path = util/DoCIF
	url = https://github.com/jgkamat/DoCIF.git
[submodule "control/mtrain/mjackets-api"]
	path = control/mtrain/mjackets-api
	url = https://github.com/RoboJackets/mjackets-api.git
[submodule "control/external/robocup-fshare"]
	path = control/external/robocup-fshare
	url = https://github.com/RoboJackets/robocup-fshare.git
